In [3]:
import pandas as pd
from sklearn.model_selection import train_test_split

# Import SARS and COVID csv files
# Only import 'date' and 'cumulative_cases' columns
canada_sars = pd.read_csv('./data/sars_canada.csv', header = 0, index_col = 0, usecols=['date', 'cumulative_cases'])
canada_covid = pd.read_csv('./data/covid_canada.csv', header = 0, index_col = 0, usecols=['date', 'cumulative_cases'])

display(canada_sars)
display(canada_covid)

# Convert into data
data_train = canada_sars.values
data_test = canada_covid.values

,date,country,popdata2003,new_cases,cumulative_cases,new_deaths,cumulative_deaths
0,3/17/2003,Canada,31641630,8,8,2,2
1,3/18/2003,Canada,31641630,0,8,0,2
2,3/19/2003,Canada,31641630,0,8,0,2
3,3/20/2003,Canada,31641630,1,9,0,2
4,3/21/2003,Canada,31641630,0,9,0,2
...,...,...,...,...,...,...,...
91,7/7/2003,Canada,31641630,0,251,0,38
92,7/8/2003,Canada,31641630,0,250,0,38
93,7/9/2003,Canada,31641630,0,249,0,38
94,7/10/2003,Canada,31641630,1,250,0,38
95,7/11/2003,Canada,31641630,0,250,0,38

,date,country,popdata2018,new_cases,cumulative_cases,new_deaths,cumulative_deaths
0,12/31/2019,Canada,37058856,0,0,0,0
1,1/1/2020,Canada,37058856,0,0,0,0
2,1/2/2020,Canada,37058856,0,0,0,0
3,1/3/2020,Canada,37058856,0,0,0,0
4,1/4/2020,Canada,37058856,0,0,0,0
...,...,...,...,...,...,...,...
128,5/7/2020,Canada,37058856,1450,63496,189,4232
129,5/8/2020,Canada,37058856,1426,64922,176,4408
130,5/9/2020,Canada,37058856,1512,66434,161,4569
131,5/10/2020,Canada,37058856,1268,67702,124,4693
132,5/11/2020,Canada,37058856,1146,68848,178,4871

In [4]:
# We will be doing univariate analysis with cumulative_cases as the feature
# if have extra time we can also do on cumulative deaths

# Training data is sars data
# Testing data is covid data